server {
    listen 80;
    server_name ${MAIN_DOMAIN} www.${MAIN_DOMAIN};

    location / {
        proxy_pass http://127.0.0.1:${SHOP_PORT};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Accept-Encoding "";
        sub_filter "http://" "https://";
        sub_filter_once off;
    }
}

server {
    listen 80;
    server_name usdt.${MAIN_DOMAIN};

    location / {
        proxy_pass http://127.0.0.1:${EPUSDT_PORT};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Accept-Encoding "";
        sub_filter "http://" "https://";
        sub_filter_once off;
    }
}
